﻿@model StoreProject.Models.Piece
@using StoreProject.Models
@{
    ViewBag.Title = "addPiece";
}

<h2>Add Pieces</h2>

<div>

    <h4>Part</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (((Part)ViewData["SelectedPart"]).picture != null)
            {
                <img src="~/images/part/@(((Part)ViewData["SelectedPart"]).PartId)@(((Part)ViewData["SelectedPart"]).picture)" height="200" />
            }
            else
            {
                <img src="~/images/part/No_Image.png" height="200" />
            }
        </dd>
        <dt>
           <label>Name: </label>
        </dt>

        <dd>
            <label> @Html.Label((((Part)ViewData["SelectedPart"]).name).ToString()) </label> 
        </dd>
        <dt>
            <label>Description: </label>
        </dt>

        <dd>
            <label> @Html.Label((((Part)ViewData["SelectedPart"]).Description).ToString()) </label>
        </dd>

        <dt>
            <label> Stock: </label>
        </dt>

        <dd>
            <label> @Html.Label((((int)ViewData["Stock"])).ToString()) </label>
        </dd>

       
        </dl>
</div>

<div>

    @using (Html.BeginForm("CreatePiece", "Part"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4> Piece </h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.location, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.location)
                    @Html.ValidationMessageFor(model => model.location)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.owner, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.TextBoxFor(model => model.owner, new { @cols = "80", @rows = "4" })
                    @Html.ValidationMessageFor(model => model.owner)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.status, new List<SelectListItem>{
                         new SelectListItem() {Text ="New", Value="New"},
                         new SelectListItem() {Text ="Used", Value="Used"},
                         new SelectListItem() {Text ="Dameged", Value="Dameged"}})
                    @Html.ValidationMessageFor(model => model.status)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PartId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.TextBoxFor(model => model.PartId, new { @cols = "80", @rows = "4", Value = ((Part)ViewData["SelectedPart"]).PartId, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.PartId)
                </div>
            </div>
            @if ((((Part)ViewData["SelectedPart"]).packed))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.quantity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.TextBoxFor(model => model.quantity, new { @cols = "80", @rows = "4"})
                        @Html.ValidationMessageFor(model => model.PartId)
                    </div>
                </div>
            }
            <div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>


            </div>
           

        </div>

    }

</div>


