﻿@model StoreProject.Models.Part

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Part</h4>
	<hr />
    <dl class="dl-horizontal">
        
        <dd>
            @if (Model.picture != null)
            {
                <img src="~/images/part/@Model.PartId@Model.picture" height="200" />
            }
            else
            {
                <img src="~/images/part/No_Image.png" height="200" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packed)
        </dd>


    </dl>

    <h4> Pieces </h4>
    @*---------------------------------------------------------*@

    <table class="table">
        <tr>
            <th>
                @Html.Label("#")
            </th>
            <th>
                @Html.Label("Owner")
            </th>
            <th>
                @Html.Label("Location")
            </th>
            <th>
                @Html.Label("Status")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.pieces)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PartId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PartId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PartId }) |
                    @Html.ActionLink("Add Pieces", "addPiece", new { id = item.PartId })
                </td>*@
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
