﻿@model StoreProject.Models.Piece
@{
    ViewBag.Title = "QrGenerate";
}

<h2>QrCode</h2>
<div hidden>
@Html.TextBox("id",Model.Id)

</div>

<div id="qr">  </div>


@section scripts{
@Scripts.Render("~/bundles/jqueryqr")
<script type="text/javascript">

   var x = document.getElementById("id").value 
    jQuery('#qr').qrcode({

        text: x,
        width: 64,
        height: 64
       


    });
   
    
</script>
<script type="text/javascript">

   
    function printcontent() {

      
        var restore = document.getElementById("links").innerHTML;
        document.getElementById("links").innerHTML = document.getElementById("clean").innerHTML;
        window.print();
        document.getElementById("links").innerHTML = restore;
        


       


    }



    </script>
    }

<div id="clean">

</div>

<div id="links">
    <h4></h4>



    <p>

        <div>
            <input type="button" value="Print" id="btnPrint" class="btn btn-default" onclick="printcontent()" />

        </div>

        @Html.ActionLink("Back to Part", "addPiece", new { id = Model.PartId }) |
        @Html.ActionLink("Back to List", "Index")

    </p>

</div>



