﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="btn-group-justified">
@Html.ActionLink("ToHome", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("Part Mangment", "Index", "Home", null, new { @class = "btn btn-info btn-lg" })

     </div>
<br />
<br />
<div class="btn-group-justified">
    @Html.ActionLink("ToHome", "Index", "Home", null, new { @class = "btn btn-warning btn-lg" })
    @Html.ActionLink("Part Mangment", "Index", "Home", null, new { @class = "btn btn-danger btn-lg" })
   </div>